<div class="modal-header">
  <button type="button" class="close" ng-click="clearNewVoters()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addVotersLabel">Add Voters</h4>
</div>
<div class="modal-body">
  <form role="form" ng-submit="addNewVoter()">
    <div class="form-group">
      <label for="addVoterEmail">Email</label>
      <input type="email" class="form-control" id="addVoterEmail" ng-model="newVoterEmail" placeHolder="Enter email address"/>
    </div>
    <div class="form-group">
      <label for="addVoterName">Name</label>
      <input type="text" class="form-control" id="addVoterName" ng-model="newVoterName" placeHolder="Enter name"/>
    </div>
    <div class="alert alert-danger" ng-show="error && error.messages.length > 0">
      <ul ng-show="error.messages.length > 1">
        <li ng-repeat="error in error.messages">{{error}}</li>
      </ul>
      <span ng-show="error.messages.length === 1">{{error.messages[0]}}</span>
    </div>
    <button type="submit" class="btn btn-default">Add</button>
  </form>
</div>
<div class="modal-body" ng-hide="newVoters.length === 0">
  <div class="panel panel-default">
    <div class="panel-heading">New Voters</div>
    <div class="panel-body">
      <p>Registration email will be sent to the following new voters:</p>
      <ul class="list-group">
        <li ng-repeat="voter in newVoters" class="list-group-item">
          {{voter.name}} ({{voter.email}})
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-disabled="newVoters.length === 0" ng-click="ok()">Send</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>