<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="removeCandidatesLabel">Remove Candidates</h4>
</div>
<div class="modal-body">
  <a href="javascript:void(0)" ng-click="selectAll()">Select all</a> | <a href="javascript:void(0)" ng-click="selectNone()">Select none</a>
  <from role="form">
    <div class="checkbox" ng-repeat="candidate in candidates">
      <label>
        <input type="checkbox" ng-model="candidate.softDelete" name="c{{candidate._id}}"/>
        {{candidate.name}}
      </label>
    </div>
  </from>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ok()">Remove</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>