<div>
  <a href="#/elections/{{electionId}}" class="pull-right">Back to election</a>
  <h2>Categories</h2>
  <div class="btn-group">
    <button type="button" class="btn btn-default navbar-btn" title="Create a new category" ng-click="showAddCategory()"><span class="glyphicon glyphicon-plus"></span> Add Category</button>
    <button type="button" class="btn btn-default navbar-btn" title="Remove one or more categories"  ng-click="showRemoveCategories()"><span class="glyphicon glyphicon-minus"></span> Remove Categories</button>
  </div>
  <alert ng-show="categoriesError" type="'danger'" close="clearError()">
    <span>{{categoriesError.message}}</span>
    <ul ng-show="categoriesError.userErrors">
      <li ng-repeat="error in categoriesError.userErrors">{{error}}</li>
    </ul>
  </alert>
  <div ng-repeat="category in categories" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" editable-text="category.name" onbeforesave="validateCategoryName(category, $data)" onaftersave="updateCategoryName(category, $data)">
        <span class="glyphicon glyphicon-pencil pull-right"></span> {{category.name}}
      </h3>
    </div>
    <div class="panel-body">
      <p editable-textarea="category.description" e-rows="3" e-cols="50" onbeforesave="validateCategoryDescription(category, $data)" onaftersave="updateCategoryDescription(category, $data)"><span class="glyphicon glyphicon-pencil pull-right"></span> {{category.description}}</p>
    </div>
  </div>
</div>
