<div>
  <h2>Elections</h2>
  <div class="btn-group">
    <button type="button" class="btn btn-default navbar-btn" title="Create a new election" ng-click="showAddElection()"><span class="glyphicon glyphicon-plus"></span> Create Election</button>
    <button type="button" class="btn btn-default navbar-btn" title="Remove one or more elections" ng-click="showRemoveElections()"><span class="glyphicon glyphicon-minus"></span> Remove Elections</button>
  </div>
  <alert ng-show="electionError" type="'danger'" close="clearError()">
    <span>{{electionError.message}}</span>
    <ul ng-show="electionError.userErrors">
      <li ng-repeat="error in electionError.userErrors">{{error}}</li>
    </ul>
  </alert>
  <ul class="list-group">
    <li ng-repeat="election in elections" class="list-group-item">
      <a href="#/elections/{{election._id}}">{{election.name}}</a>
      <div class="list-group">
        <a href="#/elections/{{election._id}}/candidates" class="list-group-item">candidates</a>
        <a href="#/elections/{{election._id}}/categories" class="list-group-item">categories</a>
        <a href="#/elections/{{election._id}}/voters" class="list-group-item">voters</a>
        <a href="#/elections/{{election._id}}/results" class="list-group-item">results</a>
      </div>
    </li>
  </ul>
</div>