<div>
  <a href="#/elections/{{electionId}}" class="pull-right">Back to election</a>
  <h2>Voters</h2>
  <div class="btn-group">
    <button type="button" class="btn btn-default navbar-btn" title="Setup new voters" ng-click="showAddVoters()"><span class="glyphicon glyphicon-plus"></span> Add Voters</button>
    <button type="button" class="btn btn-default navbar-btn" title="Remove one or more voters" ng-click="showRemoveVoters()"><span class="glyphicon glyphicon-minus"></span> Remove Voters</button>
  </div>
  <alert ng-show="votersError" type="'danger'" close="clearError()">
    <span>{{votersError.message}}</span>
    <ul ng-show="votersError.userErrors">
      <li ng-repeat="error in votersError.userErrors">{{error}}</li>
    </ul>
  </alert>
  <ul class="list-group">
    <li ng-repeat="voter in voters" class="list-group-item">
      <span ng-show="voter.name">{{voter.name}}</span>
      <span ng-show="!voter.name">{{voter._id}}</span>
      <span ng-show="voter.email"> ({{voter.email}})</span>
      <a ng-href="{{voter.link}}" ng-show="voter.link">[login]</a>
    </li>
  </ul>
</div>