<div>
  <h2>Voters</h2>
  <div class="btn-group">
    <button type="button" class="btn btn-default navbar-btn" title="Setup new voters" ng-click="showAddVoters()"><span class="glyphicon glyphicon-plus"></span> Add Voters</button>
    <button type="button" class="btn btn-default navbar-btn" title="Remove one or more voters" ng-click="showRemoveVoters()"><span class="glyphicon glyphicon-minus"></span> Remove Voters</button>
  </div>
  <ul class="list-group">
    <li ng-repeat="voter in voters" class="list-group-item">
      {{voter._id}}
    </li>
  </ul>
</div>